{
  "extends": "eslint-config-egg",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "prefer-const": "off",
    "comma-dangle": "off",
    "no-trailing-spaces": "off",
    "strict": "warn",
    "object-shorthand": "off",
    "eol-last": "off",
    "semi": "warn",
    "no-unused-vars": "warn",
    "array-bracket-spacing": "off"
  }
}